# Local .terraform directories, plus Terraform States and Variables
**/.terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan

# Ignore Terraform CLI configuration files
.terraformrc

# Log files
logs/**

# Ignore any cookiecutter repository setup files (this will normally be removed
# automatically, but they should not be added back in)
{{cookiecutter.repository.name}}
bin/bootstrap
render/

# Ignore taskfile processing directory and files
.skip-pre-checks
.task
