---
name: Synchronise Upstream

on:
  # Run at 18:15 on Wednesdays
  schedule:
    - cron: "15 18 * * 3"
  # Allow this GitHub Action to be manually triggered
  workflow_dispatch:

permissions:
  contents: write
  packages: read
  issues: write
  pull-requests: write

jobs:
  template-sync:
    name: Template Synchronise
    runs-on: ubuntu-latest
    env:
      SYNCHRONISER_TOKEN: ${{ secrets.SYNCHRONISER_TOKEN || secrets.GITHUB_TOKEN } }
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
        with:
          token: ${{ env.SYNCHRONISER_TOKEN }}

      - name: Render and synchronise the template repository
        uses: n3tuk/action-synchronise-upstream@v1
        with:
          token: ${{ env.SYNCHRONISER_TOKEN }}
          repository: n3tuk/template-terraform-module
          labels: release/skip,dependencies
